* {
  padding: 0;
  margin: 0;
}

.App {
  margin: 0 auto;
  padding: 0;
  color: #fff;
}

.card-grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}

.card-info {
  text-align: center;
}

.card-container {
  margin: 3rem auto;
  background: linear-gradient(to top, red, pink);
  width: 200px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.container-warm {
  background: linear-gradient(to bottom, #ed5609, #d67e00);
  border: 2px solid #a6110f;
}

.container-cold {
  background: linear-gradient(to bottom, #024ed9, #0996f0);
  border: 2px solid #061366;
}

.card-container:hover {
  box-shadow: 10px 15px #888888;
  transition: all 0.5s;
  transform: rotateX(40deg) rotateY(60deg);
  transform: scale(1.1);
}

.card-title {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.card-date {
  font-family: sans-serif;
  font-size: 0.8rem;
}
.card-icon {
  width: 40%;
  animation: rotation 8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.card-temp {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.card-luft {
  font-family: sans-serif;
  font-size: 1.2rem;
}
